* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-size: 14px;
}

ol,ul,li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.clear_fix {
    clear: both;
}

.pc_none{display: none !important;}