header{width: 90%; margin: 0 auto;}
header .wrap{padding:50px 15px 0; letter-spacing:-0.5px;}
header .tab_menu{position:relative;}
header .tab_menu .list{overflow:hidden;}
header .tab_menu .list li{float:left;padding: 10px;background-color: #a6bace;color:#a0cfea;border-radius: 5px 15px 0px 0;}
header .tab_menu .list li img{width: 90%;padding: 52px;}
header .tab_menu .list .btn{font-size:20px;}
header .tab_menu .list .cont{display:none; position:absolute; top:45px; left:0; background:#c3e0f4; color:#000; text-align:center; width:100%; height:65vh;border-radius: 5px 15px 0px 0;}
header .tab_menu .list li.is_on {background-color: #c3e0f4;padding: 10px;border-radius: 5px 15px 0px 0;}
header .tab_menu .list li.is_on .btn{font-weight:bold; color:#fff;}
header .tab_menu .list li.is_on .cont{display:block;}