*{background-color: #333;color: #fff;}

section{width: 1500px;margin: 0 auto;}
section .sec_text{width: 100%;}
section .sec_text h1{font-size: 3em;}
section .sec_text p{font-size: 2em;}

section .sec_inner{width: 100%;margin: 7rem 0 0;}
section .sec_inner .img_box{    width: 70%;margin: 0 auto;}
section .sec_inner .img_box img{width: 100%;border-radius: 25px;}