* {
    margin: 0;
    padding: 0;
}

ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.after::after {
    display: block;
    content: "";
    clear: both;
}

#moPanel {
    display: none;
}


.moBtn {
    display: none;
}
/*-------------------- header------------------- */

.headerWrap {
    width: 100%;
    height: 950px;
    background: url(img/headerImg.jpg) no-repeat bottom;
    background-size: cover;
    position: relative;

}

.headerWrap>.gra {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);

}

.headerWrap>.gra>h1 {
    position: absolute;
    top: 65%;
    left: 65%;
    transform: translateX(-40%);
    font-size: 110px;
    color: #fff;
    text-shadow: 7px 7px 7px #000;
}

.headerWrap>.gra>p {
    position: absolute;
    top: 83%;
    left: 39%;
    transform: translateX(-8%);
    color: #fff;
    font-size: 20px;
}

.headerWrap>.gra>#header {
    width: 1240px;
    margin: 0 auto;

}

.headerWrap>.gra>#header>.logo {
    width: 100%;
    text-align: center;
}

.headerWrap>.gra>#header>.logo>img {
    width: 20%;

}

.headerWrap>.gra>#header>ul {
    width: 100%;
}

.headerWrap>.gra>#header>ul>li {
    width: 25%;
    text-align: center;
    float: left;
    color: #fff;
    font-size: 20px;

}

.headerWrap>.gra>#header>ul>li>a {
    display: block;
    padding: 20px 0;
    font-weight: bold;
} 

.Depth {
    display: none;
}

.headerWrap>.gra>#header>ul>li>.Depth>li>a {
    display: block;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    padding: 15px 20px;
}


/* ---------------------contents-------------------- */

#contents {
    width: 100%;
    padding: 0px 0px 400px;
}


/* -------------------------con1--------------------------- */

#contents>.con1 {
    width: 1240px;
    margin: 0 auto;
    padding: 200px 0;
}

#contents>.con1>h1 {
    padding: 70px 0 50px;
    color: #171c61;
    transition: 1s;
}

#contents>.con1>.op {
    width: 32%;
    height: 500px;
    margin-right: 2%;
    float: left;
    position: relative;
    overflow: hidden;
    bottom: -500px;
    opacity: 0;
}

#contents>.con1>div:nth-of-type(1) {
    transition: 0.7s;
}

#contents>.con1>div:nth-of-type(2) {
    transition: 0.9s;
}

#contents>.con1>div:last-child {
    margin-right: 0;
    transition: 1.1s;
}

#contents>.con1>.op:hover .imgBox {
    transform: scale(1.1);
}


#contents>.con1>div>.imgBox1 {
    height: 100%;
    background: url(img/con2-1.jpg) no-repeat center;
    background-size: cover;
    transition: all 0.5s;

}

#contents>.con1>div>.imgBox2 {
    height: 100%;
    background: url(img/con2-2.jpg) no-repeat;
    background-size: cover;
    transition: all 0.5s;
}

#contents>.con1>div>.imgBox3 {
    height: 100%;
    background: url(img/con2-3.jpg) no-repeat left;
    background-size: cover;
    transition: all 0.5s;
}

#contents>.con1>div>div:nth-of-type(2) {
    width: 90%;
    height: 40%;
    background: #fff;
    text-align: center;
    padding: 20px 30px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -15%);
    line-height: 25px;
}

#contents>.con1>div>div:nth-of-type(2) h2 {
    padding: 0px 0px 20px;

}






/* ------------------------con2------------------------- */


.con2>.slider {
    width: 100%;
    margin: 0px auto;
}

.con2>.slider::after {
    display: block;
    content: "";
    clear: both;
}

.con2>.slider>.left {
    width: 50%;
    float: left;
    overflow: hidden;
}

.con2>.slider>.left>ul::after {
    display: block;
    content: "";
    clear: both;
}

.con2>.slider>.left>ul {
    width: 300%;
    margin-left: 0%;
}

.con2>.slider>.left>ul>li {
    width: 33.3333333333%;
    height: 600px;
    float: left;
}

.con2>.slider>.left>ul>.a1 {
    background: url(img/con1-1.jpg) no-repeat center;
}

.con2>.slider>.left>ul>.a2 {
    background: url(img/con1-2.jpg) no-repeat top center;
}

.con2>.slider>.left>ul>.a3 {
    background: url(img/con1-3.jpg) no-repeat center;
}


.con2>.slider>.right {
    width: 50%;
    float: left;
    overflow: hidden;
    position: relative;
    height: 600px;
}

.con2>.slider>.right>ul::after {
    display: block;
    content: "";
    clear: both;
}

.con2>.slider>.right>ul {
    width: 150%;
    position: relative;
    margin-left: 0%;
}

.con2>.slider>.right>ul>li {
    width: 33.3333%;
    height: 600px;
    float: left;
    position: relative;
}

.con2>.slider>.right>ul>li>h2 {
    color: #cea97c;
    text-align: center;
    margin-top: 120px;
    font-size: 30px;
}

.con2>.slider>.right>ul>li>span {
    text-align: center;
    display: block;
    margin: 40px 0px;
    color: #6b5337;
}

.con2>.slider>.right>ul>li>h3 {
    text-align: center;
    font-size: 18px;
    color: #caa16c;
    margin: 15px 0px;
}

.con2>.slider>.right>ul>li>p {
    text-align: center;
    font-size: 15px;
    color: #92601f;
    margin: 15px 0px;
    padding: 10px 20px;
    box-sizing: border-box;
}

.con2>.slider>.right>ul>li>div {
    position: absolute;
    top: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: 0.5s;
}

.con2>.slider>.right>ul>li>.bg1 {
    background: url(img/con1-1.jpg) no-repeat center;

}

.con2>.slider>.right>ul>li>.bg1>h2 {
    color: #fff;
    text-align: center;
    margin-top: 120px;
    font-size: 30px;
}

.con2>.slider>.right>ul>li>.bg1>span {
    text-align: center;
    display: block;
    margin: 40px 0px;
    color: #fff;
}

.con2>.slider>.right>ul>li>.bg1>h3 {
    text-align: center;
    font-size: 18px;
    color: #fff;
    margin: 15px 0px;
}

.con2>.slider>.right>ul>li>.bg1>p {
    text-align: center;
    font-size: 15px;
    color: #fff;
    margin: 15px 0px;
    padding: 10px 20px;
    box-sizing: border-box;
}

.con2>.slider>.right>ul>li>.bg2 {
    background: url(img/con1-2.jpg) no-repeat top;
}

.con2>.slider>.right>ul>li>.bg2>h2 {
    color: #fff;
    text-align: center;
    margin-top: 120px;
    font-size: 30px;
}

.con2>.slider>.right>ul>li>.bg2>span {
    text-align: center;
    display: block;
    margin: 40px 0px;
    color: #fff;
}

.con2>.slider>.right>ul>li>.bg2>h3 {
    text-align: center;
    font-size: 18px;
    color: #fff;
    margin: 15px 0px;
}

.con2>.slider>.right>ul>li>.bg2>p {
    text-align: center;
    font-size: 15px;
    color: #fff;
    margin: 15px 0px;
    padding: 10px 20px;
    box-sizing: border-box;
}


.con2>.slider>.right>ul>li>.bg3 {
    background: url(img/con1-3.jpg) no-repeat center;
}

.con2>.slider>.right>ul>li>.bg3>h2 {
    color: #fff;
    text-align: center;
    margin-top: 120px;
    font-size: 30px;
}

.con2>.slider>.right>ul>li>.bg3>span {
    text-align: center;
    display: block;
    margin: 40px 0px;
    color: #fff;
}

.con2>.slider>.right>ul>li>.bg3>h3 {
    text-align: center;
    font-size: 18px;
    color: #fff;
    margin: 15px 0px;
}

.con2>.slider>.right>ul>li>.bg3>p {
    text-align: center;
    font-size: 15px;
    color: #fff;
    margin: 15px 0px;
    padding: 10px 20px;
    box-sizing: border-box;
}


.con2>.slider>.right>ul>li.on>div {
    opacity: 0;
    transform: scaleX(0.2);
}

.con2>.slider>.right>ul>.b1 {
    background: #411e00;
}

.con2>.slider>.right>ul>.b2 {
    background: #411e00;
}

.con2>.slider>.right>ul>.b3 {
    background: #411e00;
}

.con2>.slider>.right>.next {
    display: block;
    opacity: 0;
}



/* ----------------------con3--------------------- */

#contents>.con3 {
    width: 100%;
    text-align: center;
    padding: 70px 0px;
    margin: 200px 0px 200px;
    background: #f1e2ce;
    color: #000;
}

#contents>.con3>h1 {
    padding: 0px 0px 40px;
}

#contents>.con3>p {
    line-height: 35px;
    padding-bottom: 30px;
}

#contents>.con3>a {
    display: inline-block;
    background: #cea97c;
    color: #fff;
    padding: 9px 20px;
}






/*------------------------con4------------------------- */

#contents>.con4 {
    width: 100%;
    height: 700px;
    overflow: hidden;
    position: relative;
}

#contents>.con4>.bgBoxWrap {
    position: absolute;
    width: 125%;
    height: 100%;
}

#contents>.con4>div>div {
    width: 20%;
    float: left;
    position: relative;
}

#contents>.con4>div>div>div {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    transition: all 0.5s;
    cursor: pointer;
}

#contents>.con4>div>div:hover .inner {
    opacity: 0;
}

#contents>.con4>div>div:hover .hov {
    display: block;
}

#contents>.con4>div>.bgBox1 {
    height: 700px;
    background: url(img/con4-1.jpg) no-repeat;
    background-size: cover;
}

#contents>.con4>div>.bgBox2 {
    height: 700px;
    background: url(img/con4-2.jpg) no-repeat center;
    background-size: cover;
}

#contents>.con4>div>.bgBox3 {
    height: 700px;
    background: url(img/con4-3.jpg) no-repeat;
    background-size: cover;
}

#contents>.con4>div>.bgBox4 {
    height: 700px;
    background: url(img/con4-4.jpg) no-repeat center;
    background-size: cover;
}

#contents>.con4>div>.bgBox5 {
    height: 700px;
    background: url(img/con4-5.jpg) no-repeat center;
    background-size: cover;
}



#contents>.con4>div>div>a {
    position: absolute;
    display: none;
    width: 150px;
    height: 150px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background: #cea97c;
    color: #fff;
    border-radius: 50%;
    font-size: 40px;
    font-weight: lighter;
    line-height: 150px;
    text-align: center;
    transition: all 0.5s;
}




/*---------------------------- con5 ------------------------*/

#contents>.con5 {
    width: 1240px;
    margin: 0 auto;
    padding: 150px 0;
}


#contents>.con5>ul>li {
    width: 33.333%;
    float: left;
    text-align: center;
}

#contents>.con5>ul>li>a {
    display: block;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 50%;
    background: #f1e2ce;
    color: #fff;
    line-height: 150px;
    font-size: 50px;
    margin-bottom: 20px;
}

#contents>.con5>ul>li>a:hover {
    background: #6b5337;
    color: #fff;
}

#contents>.con5>ul>li>span {
    font-size: 20px;
    font-weight: bold;
}




/*----------------------con6---------------------- */

#contents>.con6 {
    width: 1240px;
    margin: 0 auto;


}

#contents>.con6>div {
    width: 49%;
    margin-right: 2%;
    float: left;
    overflow: hidden;
}

#contents>.con6>div:last-child {
    margin-right: 0%;
}

#contents>.con6>.first>.img1 {
    width: 100%;
    height: 800px;
    background: url(img/con6-1.png) no-repeat center;
    background-size: cover;
    margin-bottom: 20px;
    margin-left: -100%;
    transition: all 0.9s;
    opacity: 0;
}

#contents>.con6>.first>.textBox1 {
    width: 100%;
    height: 400px;
    margin-left: -100%;
    transition: all 1s;
    opacity: 0;
    line-height: 30px;
    padding: 50px;
    box-sizing: border-box;
    border: 5px solid #caa16c;
}

#contents>.con6>.first>.textBox1>h1 {
    padding: 30px 0;
    box-sizing: border-box;
}

#contents>.con6>.first>.textBox1>p>span {
    display: block;
    padding: 20px 0;
    box-sizing: border-box;
}

#contents>.con6>.second>.textBox2 {
    width: 100%;
    height: 700px;
    margin-bottom: 20px;
    text-align: right;
    margin-left: 100%;
    transition: all 0.5s;
    opacity: 0;
    line-height: 30px;
    padding: 130px 70px;
    box-sizing: border-box;
    border: 5px solid #caa16c;
}

#contents>.con6>.second>.textBox2>h1 {
    padding: 50px 0;
    box-sizing: border-box;
}

#contents>.con6>.second>.textBox2>p>span {
    display: block;
    padding: 20px 0;
    box-sizing: border-box;
}

#contents>.con6>.second>.img2 {
    width: 100%;
    height: 500px;
    background: url(img/con6-4.jpg) no-repeat;
    background-size: cover;
    margin-left: 100%;
    transition: all 0.8s;
    opacity: 0;
}





/*------------------------footer--------------------- */

.footerWrap {
    width: 100%;
    padding: 30px 0;
    border-top: 1.5px solid #171c61;
}

.footerWrap>#footer {
    width: 1240px;
    margin: 0 auto;
}

.footerWrap>#footer>.logo {
    width: 100%;
    text-align: center;
}

.footerWrap>#footer>.logo>img {
    width: 15%;
}

.footerWrap>#footer>p {
    text-align: center;
    font-weight: bold;
    color: #171c61;
}




@media(max-width:1260px) {

    /*-------------------- header------------------- */

    .headerWrap {
        height: 800px;

    }

    .headerWrap>.gra>h1 {
        top: 47%;
        left: 46%;
        font-size: 80px;

    }
    
    .headerWrap>.gra>p {
        top: 63%;
        left: 25%;

    }

    .headerWrap>.gra>p>span {
        display: none;
    }

    .headerWrap>.gra>#header {
        width: 100%;
    }

    .headerWrap>.gra>#header>.logo {
        width: 100%;
        text-align: center;
    }

    .headerWrap>.gra>#header>.logo>img {
        width: 20%;

    }

    .headerWrap>.gra>#header>ul>li {
        width: 25%;
        font-size: 18px;

    }


    /* -------------------------contents--------------------------- */

    #contents>.con1 {
        width: 100%;
        margin: 0 auto;
        padding: 100px 20px;
        box-sizing: border-box;
    }

    #contents>.con1>h1 {
        padding: 50px 0 30px;
        color: #171c61;
    }

    #contents>.con1>.op {
        height: 450px;

    }


    #contents>.con1>div>div:nth-of-type(2) {
        height: 50%;

        padding: 20px 10px;

    }



    #contents>.con3 {
        margin: 150px 0px 150px;

    }



    #contents>.con4 {
        height: 600px;

    }

    #contents>.con4>.bgBoxWrap {
        width: 166.666%;

    }


    #contents>.con4>div>div>a {
        top: 45%;

    }



    #contents>.con5 {
        width: 100%;

    }



    #contents>.con6 {
        width: 100%;
        padding: 0px 20px;
        box-sizing: border-box;

    }

    #contents>.con6>.first>.img1 {
        height: 700px;

    }

    #contents>.con6>.first>.textBox1 {
        height: 400px;
        padding: 20px;

    }

    #contents>.con6>.second>.textBox2 {
        height: 600px;
        padding: 80px 20px;

    }

    #contents>.con6>.second>.img2 {
        height: 500px;

    }





    /*------------------------footer--------------------- */
    .footerWrap>#footer {
        width: 100%;
    }

}



@media(max-width:576px) {
    #moPanel {
        display: block;
        position: fixed;
        width: 60%;
        height: 100%;
        background: #866845;
        top: 0;
        left: -100%;
        z-index: 10;
        box-sizing: border-box;
        transition: all 0.5s;
    }

    #moPanel.on {
        left: 0;
    }

    .moBtn {
        display: block;
        position: fixed;
        top: 7px;
        left: 5%;
        font-size: 30px;
        color: #fff;
        z-index: 10;
        transition: all 0.5s;
    }

    .moBtn.on {
        left: 65%;
    }

    #moPanel>li {
        width: 100%;
    }

    #moPanel>li>a {
        display: block;
        padding: 15px 20px;
        border-bottom: 1px solid #411e00;
    }

    .moDepth {
        display: none;
    }

    .moDepth>li>a {
        display: block;
        padding: 12px 30px;
        border-bottom: 1px solid #411e00;
        background: #cea97c;
    }

    /*-------------------- header------------------- */
    .headerWrap {
        height: 400px;

    }

    .headerWrap>.gra>h1 {
        display: none;
    }

    .headerWrap>.gra>#header {
        width: 100%;
    }

    .headerWrap>.gra>#header>.logo {
        width: 100%;
        text-align: center;
    }

    .headerWrap>.gra>#header>.logo>img {
        width: 30%;

    }

    .headerWrap>.gra>#header>ul {
        display: none;
    }

    .headerWrap>.gra>#header>ul>li {
        width: 25%;
        font-size: 18px;

    }

    .headerWrap>.gra>h1 {
        display: none;

    }
    
    .headerWrap>.gra>p {
        display: none;

    }



    /* -------------------------contents--------------------------- */

    #contents>.con1 {
        width: 100%;
    }

    #contents>.con1>h1 {
        padding: 50px 0 30px;
        color: #171c61;
    }

    #contents>.con1>.op {
        width: 100%;
        height: 500px;
        margin-bottom: 20px;
        bottom: 0;
        opacity: 1;
    }


    #contents>.con1>div>div:nth-of-type(2) {
        height: 40%;


    }



    .con2 {
        display: none;
    }



    #contents>.con3 {
        margin: 0px 0px 100px;

    }


    #contents>.con4 {
        height: 500px;

    }

    #contents>.con4>.bgBoxWrap {
        width: 250%;

    }


    #contents>.con4>div>div>a {
        top: 40%;
        width: 130px;
        height: 130px;
        line-height: 130px;
    }


    #contents>.con5>ul>li>a {
        width: 100px;
        height: 100px;
        line-height: 100px;
        font-size: 40px;

    }

    #contents>.con5>ul>li>span {
        font-size: 18px;
    }



    #contents>.con6>div {
        width: 100%;
        margin-bottom: 20px;

    }

    #contents>.con6>.first>.img1 {
        height: 500px;

    }

    #contents>.con6>.first>.textBox1 {
        display: none;

    }

    #contents>.con6>.second>.textBox2 {
        height: 600px;
        padding: 50px 25px;

    }

    #contents>.con6>.second>.img2 {
        height: 500px;

    }





    /*------------------------footer--------------------- */

    .footerWrap>#footer {
        width: 100%;
    }

    .footerWrap>#footer>.logo>img {
        width: 30%;

    }

    .footerWrap>#footer>p {
        padding: 0px 20px;
        box-sizing: border-box;
    }

}
