@import url('https://fonts.googleapis.com/css?family=Courgette|Karla|Merriweather+Sans|Poppins&display=swap');


/* header */

.headerWrap {width: 100%;height: 950px;position: relative;overflow: hidden;}
#moPanel {display: none;}
.moBtn {display: none;}
.headerWrap>img {width: 100%;height: 100%;display: block;position: absolute;}
.headerWrap>img:nth-of-type(1) {z-index: 1;}
.headerWrap>img:nth-of-type(2) {z-index: 2;}
.headerWrap>img:nth-of-type(3) {z-index: 3;}
.headerWrap>#header {width: 1240px;height: 100%;margin: 0 auto;position: relative;}
.headerWrap>#header>ul {width: 100%;position: absolute;z-index: 4;}
.headerWrap>#header>ul>li>a>img {width: 100%;}
.headerWrap>#header>ul>li {width: 14.2857%;line-height: 63.34px;float: left;position: relative;}
.headerWrap>#header>ul>li>a {display: block;padding: 20px 0px 0px;text-align: center;color: #fff;font-weight: bold;}
.depth {line-height: 50px;text-align: center;display: none;top: 71px;left: 38%;color: #fff;font-size: 13px;}


/* con1 */
.contents {padding: 100px 0;}
.contents .con1{display: flex;justify-content: space-between;align-items: center;}
.contents .con1 img{width: 50%;}
.contents .con1 .text_box{padding: 50px;font-size: 20px;}
.contents .con1 .text_box span{display:inline-block;font-size: 35px;font-weight:bold;margin-bottom: 20px;font-family: 'Poppins', sans-serif;}


/* con2 */
.contents .con2{width: 80%;margin: 0 auto;padding: 100px 0;text-align: center;}
.contents .con2 p{font-size: 40px;font-weight: bold;margin-bottom: 50px;}
.contents .con2 .con2_inner{display: flex;justify-content: space-between;}
.contents .con2 .con2_inner div{width: 23.5%;height:35vh;margin:0 auto;overflow: hidden;}
.contents .con2 .con2_inner div:last-child{margin-right: 0%;}
.contents .con2 .con2_inner div div{width:100%;transition: all 0.5s;}
.contents .con2 .con2_inner div .con2_img1{background: url(img/con2-1.jpg) no-repeat;background-size: cover;}
.contents .con2 .con2_inner div .con2_img2{background: url(img/con2-2.jpg) no-repeat;background-size: cover;}
.contents .con2 .con2_inner div .con2_img3{background: url(img/con2-3.jpg) no-repeat;background-size: cover;}
.contents .con2 .con2_inner div .con2_img4{background: url(img/con2-4.jpg) no-repeat;background-size: cover;}
.contents .con2 .con2_inner div div:hover{transform: scale(1.1);}
.contents .con2 .con2_inner div div:hover .hov{display: block;background: rgba(0, 0, 0, 0.5);}
.contents .con2 .con2_inner div div a{display: none;width: 100%;height: 100%;text-align: center;line-height: 400px;background: rgba(0, 0, 0, 0);color: #fff;}


/* con3 */
.contents .con3{text-align: center;padding: 100px 0;background-color: #eee;}
.contents .con3 p{font-size: 20px;}
.contents .con3  span{display: inline-block;font-size: 40px;font-weight: bold;margin-bottom: 50px;}


/* con4 */
.contents .con4{max-width: 85%;margin: 0 auto;display: flex;justify-content: space-evenly;padding: 100px 0;}
.contents .con4 div{width: 40%;padding: 50px 30px 180px;}
.contents .con4 .con4_img1{background: url(img/con4-1.jpg) no-repeat;background-size: cover;}
.contents .con4 .con4_img2{background: url(img/con4-2.jpg) no-repeat;background-size: cover;}
.contents .con4 div p{font-size: 20px;font-weight: bold;margin-bottom: 20px;color: #fff;}
.contents .con4 div a{display: inline-block;padding: 10px;border: 2px solid #fff;color: #fff;text-shadow: 1px 2px 3px #000;}


/* con5 */
.contents .con5 .bg_box{background: url(img/con5.jpg) no-repeat;background-size: cover;background-attachment: fixed;}
.contents .con5 .bg_box p{text-align: center;padding: 180px 0;font-size: 4.5rem;color: #fff;font-family: 'Courgette', cursive;}


/* con6 */
.contents .con6{width: 90%;margin: 0 auto;padding: 100px 0px 0px;text-align: center;}
.contents .con6 > p{font-size: 40px;font-weight: bold;margin-bottom: 50px;}
.contents .con6 .con6_inner{display: flex;justify-content: center;}
.contents .con6 .con6_inner div:nth-child(2){margin: 0 20px;}
.contents .con6 .con6_inner div img{height: 340px;}
.contents .con6 .con6_inner div img.big{height: 600px;margin: 15px 0px 10px;}
.contents .con6 .con6_inner div p{font-size: 25px;font-weight: bold;padding: 20px 0;background-color: #666;}
.contents .con6 .con6_inner div p:nth-child(2){margin: 10px 0px 15px;}
.contents .con6 .con6_inner div p:hover{color:#fff;cursor: pointer;}



/* footer */
.footer{padding: 70px 0px;text-align:center;background-color: #333;color: #fff;}
.footer ul{max-width: 10%;margin: 0px auto 15px;display: flex;justify-content: space-around;}



@media(max-width:1440px) {
    /* header */
    .headerWrap{height: 600px;}
    .headerWrap>#header{width: 100%;}
    .headerWrap>#header>ul {width: 100%;position: absolute;z-index: 4;}
    .headerWrap>#header>ul>li>a>img {width: 80%;}
    .headerWrap>#header>ul>li {width: 14.2857%;line-height: 55.34px;}
    .headerWrap>#header>ul>li>a {display: block;padding: 20px 0;text-align: center;color: #fff;font-weight: bold;}


    /* con1 */
    .contents .con1 .text_box{font-size: 16px;}
    .contents .con1 .text_box span{font-size: 30px;margin-bottom: 15px;}


    /* con2 */
    .contents .con2 p{font-size: 35px;margin-bottom: 40px;}
    .contents .con2 .con2_inner div{height:27vh;}


    /* con3 */
    .contents .con3 p{font-size: 16px;}
    .contents .con3  span{font-size: 35px;margin-bottom: 40px;}


    /* con5 */
    .contents .con5 .bg_box p{padding: 150px 0;font-size: 3.7rem;}


    /* con6 */
    .contents .con6 .con6_inner div{width: 33.3333%;}
    .contents .con6 .con6_inner div img{width: 100%;}
}



@media(max-width:768px) {
    /* header */
    .headerWrap {height: 250px;}
    #moPanel {display: block;position: absolute;top: 0em;width: 60%;height: 100%;left: -100%;background: #777;z-index: 5;transition: 0.5s;}
    #moPanel.on {left: 0px; position: fixed;}
    #moPanel>ul {width: 100%;}
    #moPanel>ul>li {width: 100%;background: #777;}
    #moPanel>ul>li>a {display: block;text-align: left;color: #fff;font-size: 18px;font-weight: bold;padding: 15px 10px;border-bottom: 1px solid #fff;box-sizing: border-box;}
    #moPanel span {font-size: 10px;}    
    .moDepth {display: none;width: 100%;}
    .moDepth>li {width: 100%;background: #eee;}
    .moDepth>li>a {display: block;padding: 15px 20px;font-size: 15px;color: #666;border-bottom: 1px solid #bbb;box-sizing: border-box;}
    .moBtn {display: block;position: fixed;top: 15px;left: 20px;color: #fff;font-size: 25px;z-index: 20;   transition: 0.5s;}
    .moBtn i{font-size: 25px;}
    .moBtn.on {position: fixed;left: 65%;}
    .headerWrap>#header {width: 20%;margin: 0 auto;}
    .headerWrap>#header>ul {width: 100%;}
    .headerWrap>#header>ul>li {width: 100%;}
    .headerWrap>#header>ul>li>a>img {width: 100%;height: 35px;padding-top: 5px;}
    .headerWrap>#header>ul>li>a {padding: 0px 0px;}
    .headerWrap>#header>ul>li:nth-of-type(4) {margin: 0 auto;}
    .headerWrap>#header>ul>li:nth-of-type(1) {display:none;}
    .headerWrap>#header>ul>li:nth-of-type(2) {display:none;}
    .headerWrap>#header>ul>li:nth-of-type(3) {display:none;}
    .headerWrap>#header>ul>li:nth-of-type(5) {display:none;}
    .headerWrap>#header>ul>li:nth-of-type(6) {display:none;}
    .headerWrap>#header>ul>li:nth-of-type(7) {display:none;}


    /* contents */
    .contents{padding: 80px 0;}


    /* con1 */
    .contents .con1{display: block;}
    .contents .con1 img{width: 100%;}
    .contents .con1 .text_box{padding: 10px;}
    .contents .con1 .text_box span {font-size: 20px;margin-bottom: 10px;}


    /* con2 */
    .contents .con2{width: 95%;padding: 80px 0;}
    .contents .con2 .con2_inner{display: block;}
    .contents .con2 p{font-size: 22px;margin-bottom: 25px;}
    .contents .con2 .con2_inner div{width:100%;height:15vh;margin-bottom: 2%;}
    .contents .con2 .con2_inner div .con2_img{background-position: center;}
    .contents .con2 .con2_inner div div a{line-height: 215px;}


    /* con3 */
    .contents .con3{padding: 80px 0;}
    .contents .con3 p{font-size: 16px;}
    .contents .con3 span{font-size: 22px;margin-bottom: 25px;}


    /* con4 */
    .contents .con4 {max-width: 98%;display: block;padding: 80px 0;}
    .contents .con4 div {width: 100%;padding: 25px 15px 95px;margin-bottom: 2%;}
    .contents .con4 div.con4_img {width: 93%;}


    /* con5 */
    .contents .con5 .bg_box{background-position: top;}
    .contents .con5 .bg_box p{padding: 85px 0;font-size: 1.7rem;}


    /* con6 */
    .contents .con6{width: 98%;padding: 80px 0px 0px;}
    .contents .con6 > p{font-size: 22px;margin-bottom: 25px;}
    .contents .con6 .con6_inner {display: block;}
    .contents .con6 .con6_inner div{width: 100%;}
    .contents .con6 .con6_inner div:nth-child(2) {margin: inherit;}
    .contents .con6 .con6_inner div img{width: 100%;}
    .contents .con6 .con6_inner div img.big {margin: inherit;}
    .contents .con6 .con6_inner div p{font-size: 20px;}
    .contents .con6 .con6_inner div p:nth-child(2){margin: inherit;}
    .contents .con6 .con6_inner div p{margin: 2px 0px 8px !important;}


    /* footer */
    .footer ul{max-width: 30%;}
    
}